@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    font-size: 25px;
}

#layout {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin: auto;
}

#main-title {
    width: 80vw;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

svg {
    width: 150px;
    rotate: 30deg;
}

.wrapper {
    display: block;
    width: 40vw;
    height: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}